<div layout-fill layout="column" layout-align="center center" layout-padding>
<md-expansion-panel md-component-id="panelOne" ng-repeat="course in courses" class="cardapp" layout-fill>
    <md-expansion-panel-collapsed layout="row" layout-align="center center" layout-fill>
      <div class="md-title">Course Outline</div>
      <div class="md-summary">View and manage course info.</div>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
    <md-expansion-panel-expanded>
      <md-expansion-panel-header ng-click="$panel.collapse()" >
        <div class="md-title">Course Info</div>
        <div class="md-summary"></div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
      <md-expansion-panel-content>
        <span layout="row" layout-align="start start" layout-fill layout-wrap >
          <span flex="20">
            <h4 style="color: #555;">Basic info</h4>
          </span>
          <span flex="80">
            <p>Name: {{course.coursename}}</p>
            <p>Description: {{course.coursedescription}}</p>
          </span>
      </span>      
      </md-expansion-panel-content>
      <md-expansion-panel-footer ng-if="$root.userLoggedInRole == 'superadmin'">
        <div class="md-default md-toolbar-tools" >
          <span flex></span>
          <md-button ng-click="openDialog($event)" md-no-ink class="md-accent">
            Edit
          </md-button>
        </div>
      </md-expansion-panel-footer>
    </md-expansion-panel-expanded>
</md-expansion-panel>
</div>
