<div ng-if="!$root.userLoggedIn" class="centered">Log in to manage parties</div>

<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Parties List</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        <md-list theme="md-primary" flex>
        <md-list-item class="md-3-line" ng-repeat="party in parties" ng-click="navigateTo(party.name, party.description, $event)">
          <div class="md-list-item-text" layout="column">
            <md-icon md-svg-icon="cached"></md-icon>
            <h3 md-display-3>
              <span ng-if="$root.isEditable(party)">
                  <a ng-href="/parties/{{ party._id }}">{{ party.name }}</a>
              </span>
              <span ng-if="!$root.isEditable(party)">{{ party.name }}</span>
            </h3>
            <h4> {{ party.description }}</h4>
            <p>posted by: {{ party.ownerEmail }} | {{ party.createdAt }}</p>            
            <md-switch class="md-accent" ng-model="party.public"
                   ng-change="$root.setPrivacity(party._id, party.public)"></md-switch>
          </div>
        </md-list-item>
        <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="setting in settings">
   <md-icon md-svg-icon="{{setting.icon}}"></md-icon>
   <p> {{ setting.name }} </p>

 </md-list-item>
        <md-divider ></md-divider>
      </md-list>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent">Action 1</md-button>
          <md-button class="md-raised md-warn">Action 2</md-button>
        </md-card-actions>
      </md-card>

<fieldset>
    <legend>Parties List</legend>
    <label>Order:
        <select ng-model="sort">
            <option value="1">Ascendig</option>
            <option value="-1" ng-selected="true">Descending</option>
        </select>
    </label>
    <p>
        <label>Search:
            <input type="search" ng-model="searchText" placeholder="Search Party"/>
        </label>
    </p>
    <ul class="list" ng-if="totalParties > 0">
        <li dir-paginate="party in parties | itemsPerPage: perPage" total-items="totalParties">
            <button class="floatRight" ng-click="removeParty(party._id)"
                    ng-if="$root.isEditable(party)">Delete</button>
            <div>
                <b>Name:</b>
                <span ng-if="$root.isEditable(party)">
                    <a ng-href="/parties/{{ party._id }}">{{ party.name }}</a>
                </span>
                <span ng-if="!$root.isEditable(party)">{{ party.name }}</span>
            </div>

            <div><b>Description:</b> {{ party.description }}</div>
            <div><b>Created by:</b> <span class="orange">{{ party.ownerEmail }}</span></div>
            <div><b>Creation date:</b> {{ party.createdAt }}</div>
            <div ng-if="!party.location && $root.isEditable(party)">
                <a ng-href="/parties/{{ party._id  }}" class="red">
                    No location. Please add point to map &rarr;</a>
            </div>

            <party-rsvp party="party"></party-rsvp>

            <div ng-if="$root.isEditable(party)">
                <label> Public:
                    <input type="checkbox" ng-model="party.public"
                           ng-change="$root.setPrivacity(party._id, party.public)"/>
                </label>
            </div>
            <hr/>
        </li>
    </ul>

    <div ng-if="totalParties === 0" class="centered"><b>No parties</b></div>

    <dir-pagination-controls ng-show="totalParties > 0"
            on-page-change="pageChange(newPageNumber)"
            template-url="client/components/partiesList/pagination.tpl.html">
    </dir-pagination-controls>

</fieldset>


<party-add></party-add>

<parties-map></parties-map>

<!--DEBUG INFO:-->
<!--<div>parties: {{ parties }}</div>-->
<!--<div>current user: {{ $root.userLoggedIn  }}</div>-->
<!--<div>total parties: {{ totalParties }}</div>-->
<!-- /DEBUG INFO -->
