<md-dialog style="opacity: 1 !important;" aria-label="Create a new user" layout="column" layout-align="start center" flex="100">
  <form name="createuserForm">
    <md-dialog-content layout="column" layout-align="start start" layout-wrap layout-fill layout-padding flex>
    <div layout="row" flex>
      <h2 style="font-weight:normal" ng-hide="createdNow">Add roles </h2>
      <h2 style="font-weight:normal" ng-if="done">Adding</h2>
      <h2 style="font-weight:normal" ng-if="createdNows"><md-icon md-svg-icon="../../assets/img/indigo_check24.svg" style="margin: auto 3px auto 0;" ></md-icon> Added role</h2>
      <span flex></span>
    </div>
    <md-progress-linear md-mode="indeterminate" flex ng-show="done"></md-progress-linear>

    <!-- hide here -->
    <span layout="column" ng-hide="createdNow" layout-fill>
    <md-input-container flex="100"  md-no-float class="md-block" style="margin: 10px 0 !important;">
        <input ng-model="create.register.rolename" aria-label="rolename" type="text" placeholder="role" ng-required>
    </md-input-container>
     <!-- Use floating placeholder instead of label -->
    </span>
    <!-- address -->
    <span layout="column" ng-hide="createdNow" layout-fill>
    <md-input-container flex="100"  class="md-block" style="margin: 10px 0 !important;">
      <label>responsibilities</label>
      <md-icon md-svg-icon="../../assets/img/black_respadd24.svg"></md-icon>
      <md-select aria-label="responsibility" ng-model="create.register.responsibilities" md-on-close="clearSearchTerm()"  data-md-container-class="selectdemoSelectHeader" multiple >
        <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for responsibilities"
                   class="demo-header-searchbox md-text">
          </md-select-header>
          <md-option ng-value="responsibility" ng-repeat="responsibility in responsibilities | filter:searchTerm">{{responsibility.responsibilityname}}</md-option>
      </md-select>
      <p class="md-caption">Link role to an existing responsibility </p>
    </md-input-container>
    </span>
    <span layout="row" ng-hide="createdNow">
    </span>
    <!-- end here -->
    <md-toolbar ng-show="existing" class="md-primary" layout="row" layout-fill layout-padding layout-margin>
    <p class="md-body-1">role already registered</p>
    </md-toolbar>
    <span layout="column" layout-align="start start" flex ng-if="createdNows">
      <span layout="row">
      <p>
        <b>{{registered.rolename}} </b> has been added
      </p>
      </span>
    </span>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-fill>
      <!-- hide these -->
    <md-button ng-hide="createdNow" ng-click="closeDialog()">
      CANCEL
    </md-button>
    <span flex ng-hide="createdNow"></span>
      <md-button type="submit" ng-click="createRole(create.register)" ng-hide="createdNow" class="md-primary">
        ADD
      </md-button>
      <!-- end hide -->
      <md-button ng-if="createdNows" ng-click="createAnother()">
        ADD ANOTHER
      </md-button>
      <span flex  ng-if="createdNows"></span>
        <md-button ng-if="createdNows" ng-click="closeDialog()" class="md-primary">
          DONE
        </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
