  <div ng-repeat="applicant in applicants track by $index" layout="column" layout-align="center center" >
<md-expansion-panel md-component-id="{{applicant._id}}"  layout-fill class="cardapp" ng-cloak>
    <md-expansion-panel-collapsed layout-fill ng-cloak>
      <span layout="row" layout-fill layout-align="start center">

      <div class="md-title" layout="row" layout-align="start center" layout-wrap hide-xs><span layout-padding hide-xs><md-icon md-svg-icon="../../assets/img/black_basicinfo24.svg"></md-icon>Basic information</span></div>
    </span>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
    <md-progress-linear md-mode="indeterminate" flex ng-show="doneagain" ></md-progress-linear>
    <md-expansion-panel-expanded ng-cloak>
      <md-expansion-panel-header ng-click="$panel.collapse()">
        <span layout="row" layout-fill layout-align="start center" >

        <div class="md-summary" layout="row" layout-align="start center" layout-wrap><span layout-padding >Basic information</span></div>
      </span>    
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
      <md-expansion-panel-content>
        <md-dialog-content layout="column" layout-align="start start" layout-wrap layout-fill layout-padding flex>
        <!-- hide here -->
        <span layout="row" flex ng-hide="createdNow" >
          <md-input-container class="md-block" style="margin: 10px 0 !important;">
            <label> firstname </label>
            <md-icon md-svg-icon="../../assets/img/black_person24.svg"></md-icon>
              <input ng-model="applicant.firstname" aria-label="email" type="text"  ng-required>
          </md-input-container>
        <md-input-container md-no-float class="md-block" style="margin: 10px 0 !important;">
          <label> middlename </label>
            <input ng-model="applicant.middlename" aria-label="lastname" type="text"  ng-required>
        </md-input-container>
        <md-input-container class="md-block" style="margin: 10px 0 !important;">
            <label> lastname </label>
            <input ng-model="applicant.lastname" aria-label="firstname" type="text"  ng-required>
        </md-input-container>
        </span>
        <span layout="column" ng-hide="createdNow" layout-fill>
        <md-input-container  class="md-block" style="margin: 10px 0 !important;">
          <label> email </label>
         <!-- Use floating placeholder instead of label -->
         <md-icon md-svg-icon="../../assets/img/black_email24.svg"></md-icon>
         <input ng-model="applicant.email" type="email"  >
        </md-input-container>
          <span layout="row" flex ng-hide="createdNow" layout-fill>
          <md-input-container layout-fill  class="md-block" style="margin: 10px 0 !important;">
            <label> cellphone number </label>
          <md-icon md-svg-icon="../../assets/img/black_phone24.svg"></md-icon>
              <input ng-model="results.profiles_phone" aria-label="phone" type="text"  ng-required>
          </md-input-container>
          <md-input-container  layout-fill class="md-block" style="margin: 10px 0 !important;">
            <label> gender </label>
          <md-icon md-svg-icon="../../assets/img/black_gender24.svg"></md-icon>
          <md-select ng-model="results.profiles_gender"  class="md-no-underline">
            <md-option value="male">male</md-option>
            <md-option value="female">female</md-option>
          </md-select>
        </md-input-container>
        </span>

        <span layout="row" flex ng-hide="createdNow" >
          <md-input-container md-float class="md-block" style="margin: 10px 0 !important;">
            <label> nickname </label>
              <input ng-model="moreinfo.nickname" aria-label="email" type="text" ng-required>
          </md-input-container>
          <md-input-container>
                <label>Birth date</label>
                <md-datepicker ng-model="moreinfo.birthdate" name="dateField" md-min-date="minDate"
                  md-max-date="maxDate"></md-datepicker>

                <div ng-messages="myOtherForm.dateField.$error">
                  <div ng-message="valid">The entered value is not a date!</div>
                  <div ng-message="required">This date is required!</div>
                  <div ng-message="mindate">Date is too early!</div>
                  <div ng-message="maxdate">Date is too late!</div>
                </div>
              </md-input-container>
        </span>
        <span layout="row" flex ng-hide="createdNow" layout-fill >
          <md-input-container flex="70" class="md-block" style="margin: 10px 0 !important;">
            <label> religion </label>
              <input ng-model="moreinfo.religion" aria-label="email" type="text" ng-required>
          </md-input-container>
          <md-input-container  layout-fill class="md-block" style="margin: 10px 0 !important;">
            <label> last grade completed </label>
          <md-select ng-model="moreinfo.gradecompleted" class="md-no-underline">
            <md-option ng-repeat="item in items" value="{{item.value}}">{{item.name}}</md-option>
          </md-select>
        </md-input-container>

        </span>
        <span layout="row" ng-hide="createdNow" layout-fill>
        <md-input-container  class="md-block" style="margin: 10px 0 !important;">
          <label> city / municipality </label>
         <!-- Use floating placeholder instead of label -->
         <input ng-model="moreinfo.city" type="email" >
        </md-input-container>
          <md-input-container layout-fill  class="md-block" style="margin: 10px 0 !important;">
            <label> address </label>
              <input ng-model="more.address" aria-label="phone" type="text" ng-required>
          </md-input-container>
        </span>




        </span>

        <!-- end here -->
        <!-- <md-toolbar ng-show="existing" class="md-primary" layout="row" layout-fill layout-padding layout-margin>
        <p class="md-body-1">applicant already registered</p>
        </md-toolbar>
        <span layout="column" layout-align="start start" flex ng-if="createdNows">
          <span layout="row">
          <p>
            A new application for <b>{{registered.firstname}} {{registered.lastname}} </b> has been created
          </p>
          </span>
          <span layout="row">
          <p>
            Track progress of application by saving the generated code below
          </p>
          </span>
          <span layout="row" layout-align="start start" layout-fill>
          <p>
            Application number: <b>{{registered.application}}</b>
          </p>
          <span flex = "10"></span>
        </span>
        </span>
        <span layout="row" style="background-color: #fafafa;" flex="100" ng-if="createdNows" layout-fill>
          <img ng-src="../../assets/img/admissions_icon.png" style="margin: auto 3px auto 0;" >
          Need to add student applications anytime, anywhere?
          Use Squala mobile app.
        </span>-->
        </md-dialog-content>
      </md-expansion-panel-content>
      <md-expansion-panel-footer ng-cloak>
        <div class="md-default md-toolbar-tools" >
          <span flex>
            <h6 style="color: #555 !important;">Encoded by: {{applicant.encoderName}}</h6></span>
          <md-button class="md-icon-button" aria-label="forward" ng-click="openDialog($event, selected)" >
            <md-tooltip md-direction="bottom">
              Change application status
            </md-tooltip>
            <md-icon md-svg-icon="../../assets/img/black_forward24.svg"></md-icon>
          </md-button>
        </div>
      </md-expansion-panel-footer>
    </md-expansion-panel-expanded>


</md-expansion-panel>
</div>
