<div ng-repeat="profile in profiles" layout="column" layout-fill>
        <span layout="row" layout-align="start start" layout-fill layout-wrap >
          <span flex="20">
            <h4 style="color: #555;">Basic info</h4>
          </span>
          <span flex="80">
            <p>Name: {{profile.profiles_firstname}} {{profile.profiles_lastname}}</p>
            <p>Email: {{profile.profiles_email}}</p>
            <p>Username: {{profile.profiles_username}}</p>
            <p>Phone: {{profile.profiles_phone}}</p>
            <p>Birthday: {{ profile.profiles_birthday | date :'medium'}} </p>
            <p>Gender: {{profile.profiles_gender}}</p>
          </span>
      </span>
      <span layout="row" layout-align="start start" layout-fill layout-wrap >
        <span flex="20">
          <h4 style="color: #555;">User Type</h4>
        </span>
        <span flex="80">
          <p><b>{{profile.profiles_type}}</b></p>
          <p>User Role: <b ng-repeat="role in roles">{{role._id == profile.profiles_userroleID ? role.role : ''}}</b></p>
          <p>Branch: <b ng-repeat="branch in branches">{{branch.branch_name}}</b></p>
        </span>
      </span>
        <div style="background-color: transparent !important;border-color: #fff !important;" layout="row" layout-align="end center">
          <md-button ng-click="openDialog($event)" class="md-default md-raised">
            Edit
          </md-button>
        </div>
</div>
