<!-- <md-card flex>
<md-toolbar class="md-table-toolbar md-primary" ng-hide="filter.show || selected.length" flex>
<div class="md-toolbar-tools">
  <h2 ng-show="$root.userLoggedInRole == 'superadmin'" class="md-title">{{totalBranches}} Branches</h2>
  <h2 ng-show="$root.userLoggedInRole != 'superadmin'" class="md-title">Hello!</h2>
  <div flex></div>
  <md-button class="md-icon-button" aria-label="Search" ng-click="filterShow()" ng-if="$root.userLoggedInRole == 'superadmin'">
    <md-icon md-svg-icon="../../assets/img/white_search24.svg"></md-icon>
  </md-button>
</div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default"  flex="100" ng-show="filter.show">
<div class="md-toolbar-tools">
  <form name="filter.form" flex>
    <md-input-container md-no-float class="md-block">
    <md-icon md-svg-icon="../../assets/img/black_search24.svg"></md-icon>
    <input type="text" ng-model="searchText" placeholder="search">
    </md-input-container>
  </form>
  <md-button class="md-icon-button" aria-label="close" ng-click="closeFilter()">
  <md-tooltip md-direction="bottom">
    Close
  </md-tooltip>
  <md-icon md-svg-icon="../../assets/img/black_close24.svg"></md-icon>
  </md-button>
</div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-primary md-hue-1 " flex="100" ng-show="selected.length">
<div class="md-toolbar-tools">
  <div ng-model="selected" flex>{{selected[0].branch_name}} selected</div>
  <md-button class="md-icon-button" aria-label="edit" ng-click="openSchool(selected)" >
    <md-tooltip md-direction="bottom">
      Go to School
    </md-tooltip>
    <md-icon md-svg-icon="../../assets/img/white_launch24.svg"></md-icon>
  </md-button>
  <md-button class="md-icon-button" aria-label="delete" ng-click="openDialog($event, selected)" ng-show="$root.userLoggedInRole == 'superadmin'" >
    <md-tooltip md-direction="bottom">
      Delete
    </md-tooltip>
    <md-icon md-svg-icon="../../assets/img/white_delete24.svg"></md-icon>
  </md-button>
</div>
</md-toolbar>
<md-table-container>
<table md-table md-row-select ng-model="selected" md-progress="promise" flex>
  <thead md-head md-order="query.order" md-on-reorder="branches" class="md-head">
    <tr md-row>
      <th md-column md-order-by="branch_name"><span>School Name</span></th>
      <th md-column ><span>School Head</span></th>
      <th md-column flex="50"><span>School Address</span></th>
      <th md-column flex="50"><span>City</span></th>
    </tr>
  </thead>
  <tbody md-body>
    <tr md-row md-select="branch" md-select-id="branch._id" md-auto-select ng-repeat="branch in branches" ng-hide="(($root.userLoggedInRole != 'superadmin' && branch.branches_type == 'parent') || ($root.userLoggedInRole != 'superadmin' && branch._id != $root.userLoggedInBranch) || ($root.userLoggedInRole == 'superadmin' && branch._id != $root.userLoggedInBranch && branch.branches_type == 'parent') )" ng-cloak>
      <td md-cell>{{branch.branch_name}}</td>
      <td md-cell>{{branch.branches_schooladminname == '' ? 'none' : branch.branches_schooladminname}}</td>
      <td md-cell>{{branch.branches_address}}</td>
      <td md-cell>{{branch.branches_city}}</td> -->
      <!-- <td md-cell>{{user.name}}</td>
      <td md-cell>{{user.username}}</td>
      <td md-cell>{{user.emails[0].address}}</td>
      <td md-cell>{{user.createdAt | date :'medium'}}</td> -->
    <!-- </tr>
  </tbody>
</table>
</md-table-container>
<md-table-pagination ng-show="$root.userLoggedInRole == 'superadmin'" md-limit="perPage" md-limit-options="[5, 10, 15]" md-page="page" md-total="{{totalBranches}}" md-on-paginate="branches" md-page-select></md-table-pagination ng-hide="branch.branches_type == 'parent'">
</md-card> -->
<h2 style="font-weight:normal; color:#555; margin-bottom: 0 !important; margin-top: 0 !important;" ng-if="totalBranches">Branch School{{totalBranches > 1 ? 's' : ''}}</h2>

  <md-card ng-repeat="branch in branches"  style="margin-bottom: 1px !important; margin-top: 0 !important;" ng-hide="(($root.userLoggedInRole != 'superadmin' && branch.branches_type == 'parent') || ($root.userLoggedInRole != 'superadmin' && branch._id != $root.userLoggedInBranch) || ($root.userLoggedInRole == 'superadmin' && branch._id != $root.userLoggedInBranch && branch.branches_type == 'parent') || (branch.branches_type == 'parent'))" >
    <md-card-header>
      <md-card-avatar>
        <md-tooltip md-direction="bottom">
          {{branch.branches_schooladminname}}
        </md-tooltip>
        <img class="md-user-avatar" src="{{branch.userpic}}"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{branch.branch_name}}</span>
        <span class="md-subhead">{{branch.branches_address}}, {{branch.branches_city}}</span>
      </md-card-header-text>
      <md-menu md-position-mode="target-right target" md-offset="0 48">
        <md-button class="md-icon-button" aria-label="Apps" ng-click="$mdOpenMenu($event)">
          <md-tooltip md-direction="bottom">
            more
          </md-tooltip>
          <md-icon md-svg-icon="../../assets/img/black_more24.svg"></md-icon>
        </md-button>
        <md-menu-content width="2" >
          <md-menu-item >
            <md-button ng-click="openSchool(branch)">
                <div layout="row" flex>
                  <p flex>View school</p>
                  <!-- <md-icon md-svg-icon="../../assets/img/black_launch24.svg"></md-icon> -->
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item >
            <md-button ng-click="openDelete($event, branch)">
                <div layout="row" flex>
                  <p flex>Delete</p>
                  <!-- <md-icon md-svg-icon="../../assets/img/black_delete24.svg"></md-icon>-->
                </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-card-header>
  </md-card>
