<div>
  <md-toolbar class="md-primary md-hue-2">
      <div class="md-toolbar-tools">
        <img ng-src="../../assets/img/headmaster_icon.png" style="margin: auto 3px auto 0;" >
        <a href="/Headmaster/HDMr/{{$root.userID}}" >
        <md-tooltip md-direction="bottom">
          Back to schools
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/white_back24.svg"></md-icon>
        </a>
        <h2 class="md-flex">Edit User Roles</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Apps" ng-click="$mdOpenMenu($event)">
          <md-tooltip md-direction="bottom">
            User Roles
          </md-tooltip>
          <md-icon md-svg-icon="../../assets/img/white_help24.svg"></md-icon>
        </md-button>
      </div>
  </md-toolbar>
<!-- <div layout="column" flex="100" flex-gt-sm="20" layout-align="start start" style="padding-bottom: 32px; padding-top: 10px; background-color: #ccc;" ng-cloak>
</div> -->
<div class="anim-slide-below-fade" data-anim-speed="500">
<showroles></showroles>
</div>


</div>
