<md-toolbar class="md-primary md-hue-2" layout="row" layout-align="center center">
  <div flex="100" flex-gt-sm="70" layout="column" layout-fill>
    <div class="md-toolbar-tools">
      <a href="/Admissions/ADMs/{{$root.userID}}" >
      <md-tooltip md-direction="bottom">
        Back
      </md-tooltip>
      <md-icon md-svg-icon="../../assets/img/white_backarrow24.svg"></md-icon>
    </a>
      <h2 class="md-flex" style="padding-left: 24px !important; color: #fff !imprtant;">Application form</h2>
      <span flex></span>
      <!-- <md-button class="md-icon-button" aria-label="Apps" ng-click="openRole()" ng-if="$root.userLoggedInRole == 'superadmin'">
        <md-tooltip md-direction="bottom">
          View user roles
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/white_roleadd24.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Apps" ng-click="openResp()" ng-if="$root.userLoggedInRole == 'superadmin'">
        <md-tooltip md-direction="bottom">
          View responsibilities
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/white_respadd24.svg"></md-icon>
      </md-button> -->
    </div>
  </div>
</md-toolbar>



<div class="anim-slide-below-fade" data-anim-speed="500">

<md-content flex layout-padding style="background-color:transparent !important;"  layout="row" layout-align="center center">
  <div layout="column" flex flex-gt-sm="60" layout-fill>
    <div layout="column" layout-align="center center" layout-wrap layout-fill style="padding-bottom: 32px; padding-top: 32px;" ng-repeat="applicant in applicants" ng-cloak>
      <!-- <md-whiteframe class="md-whiteframe-2dp" flex="100" flex-gt-sm="60" layout="row" layout-align="start start" layout-padding layout-wrap layout-fill style="padding-left:30px;">-->
      <md-card layout-wrap layout-fill style>
        <md-toolbar class="md-table-toolbar md-primary" layout="row" layout-align="space-between stretch" layout-padding layout-fill>
        <div layout="column" layout-align="center center" layout-wrap>
          <img ng-src="{{applicant.photo}}" class="avatar-6" alt="photo"/>
        </div>
        <div class="md-list-item-text" flex layout="column" layout-align="start start" layout-fill>
          <span layout-fill class="md-headline">{{applicant.firstname}} {{applicant.middlename}} {{applicant.lastname}}</span>
            <p layout-fill >
              <span class="md-subhead">Application number: {{applicant.applicationNum }}</span>
            </p>
        </div>
        <div  hide-xs>
          <md-menu md-position-mode="target-right target" ng-if="$root.userLoggedInRole == 'superadmin' || $root.userLoggedInRole == 'admin'" >
          <md-button class="md-icon-button " aria-label="transfer" ng-click="$mdOpenMenu($event)">
            <md-tooltip md-direction="bottom">
              Change fee type
            </md-tooltip>
            <md-icon md-svg-icon="../../assets/img/white_accountbal24.svg"></md-icon>
          </md-button>
          <md-menu-content width="4" >
            <md-menu-item ng-repeat="feescategory in feescategories" ng-hide="feescategory._id == applicant.feesid">
              <md-button ng-click="associateFees(applicant._id, feescategory._id)">
                  <div layout="row" flex>
                    <p flex>{{feescategory.feesName}}</p>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
          <md-button class="md-icon-button " aria-label="reset" ng-click="null" >
            <md-tooltip md-direction="bottom">
              Delete application form
            </md-tooltip>
            <md-icon md-svg-icon="../../assets/img/white_delete24.svg"></md-icon>
          </md-button>
        </div>
        </md-toolbar>
      </md-card>
      <!-- </md-whiteframe>-->
      <md-card ng-if="selected._id == applicant.feesid" ng-repeat="selected in feescategories" flex layout-fill>
            <md-card-header>
              <md-card-avatar>
                <img class="md-user-avatar" src="../../assets/img/wallet.png"/>
              </md-card-avatar>
              <md-card-header-text>
                <span class="md-title">{{selected.feesName}}</span>
                <span class="md-subhead">{{selected.code}}</span>
              </md-card-header-text>
            </md-card-header>
            <!-- <img ng-src="../../assets/img/day.jpg" ng-if="selected.shift == 'AM'" class="md-card-image" alt="Washed Out">
            <img ng-src="../../assets/img/afternoon.jpg" ng-if="selected.shift == 'PM'" class="md-card-image" alt="Washed Out"> -->
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Tuition and Fees detail</span>
                <span class="md-subhead" layout="column" layout-align="start start">
                  <span>Tuition fee: {{selected.tuitionfee | currency : "Php " : 2}}</span>
                  <span>Fee code: {{selected.code}}</span>
                  <span>Region: {{selected.region}}</span>
                  <span>Shift: {{selected.shift}}</span>
                </span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-card-icon-actions layout="row" layout-align="end center">
                <span ng-hide="showAll" class="md-subhead">more</span>
                <span ng-show="showAll" class="md-subhead">less</span>
              <md-button ng-hide="showAll" class="md-icon-button" aria-label="more" ng-click="null">
                <md-tooltip md-direction="bottom">
                  show more
                </md-tooltip>
                <md-icon ng-click="showMoreAll()" md-svg-icon="../../assets/img/black_expandmore24.svg"></md-icon>
              </md-button>
              <md-button ng-show="showAll" class="md-icon-button" aria-label="less" ng-click="null">
                <md-tooltip md-direction="bottom">
                  show less
                </md-tooltip>
                <md-icon ng-click="showMoreAll()" md-svg-icon="../../assets/img/black_expandless24.svg"></md-icon>
              </md-button>
            </md-card-icon-actions>
          </md-card-actions>

            <md-card-content  ng-if="showAll" layout="column" layout-align="end start" layout-fill>
            <md-list layout-fill>
            <md-subheader class="md-primary">Monthly breakdown</md-subheader>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h4>{{ selected.june | currency : "P" : 2 }}</h4>
                <p>JUNE</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h4>{{ selected.july | currency : "P" : 2 }}</h4>
                <p>JULY</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h4>{{ selected.august | currency : "P" : 2 }}</h4>
                <p>AUGUST</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h4>{{ selected.september | currency : "P" : 2 }}</h4>
                <p>SEPTEMBER</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h4>{{ selected.october | currency : "P" : 2 }}</h4>
                <p>OCTOBER</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h4>{{ selected.november | currency : "P" : 2 }}</h4>
                <p>NOVEMBER</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h4>{{ selected.december | currency : "P" : 2 }}</h4>
                <p>DECEMBER</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h4>{{ selected.january | currency : "P" : 2 }}</h4>
                <p>JANUARY</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h4>{{ selected.february | currency : "P" : 2 }}</h4>
                <p>FEBRUARY</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h4>{{ selected.march | currency : "P" : 2 }}</h4>
                <p>MARCH</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h3>{{ selected.april | currency : "P" : 2 }}</h3>
                <p>APRIL</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
              <div class="md-list-item-text" layout="column">
                <h3>{{ selected.may | currency : "P" : 2 }}</h3>
                <p>MAY</p>
              </div>
            </md-list-item>
          </md-list>
            </md-card-content>
          </md-card>
    </div>

    <div flex layout="column" layout-style="center center" layout-fill style="overflow: hidden !important;" layout-padding ng-cloak>
      <applicationbasicinfo></applicationbasicinfo>
      <applicationschoolinfo></applicationschoolinfo>
      <applicationparentinfo></applicationparentinfo>
      <applicationdocuments></applicationdocuments>
    </div>



    </div>
</md-content>
</div>
