<md-toolbar class="md-primary md-hue-2" layout="row" layout-align="center center">
  <div flex="100" flex-gt-sm="80" layout="column" layout-fill>
    <div class="md-toolbar-tools">
      <a href="/Headmaster/HDMr/{{$root.userID}}" >
      <md-tooltip md-direction="bottom">
        Back
      </md-tooltip>
      <md-icon md-svg-icon="../../assets/img/white_backarrow24.svg"></md-icon>
      </a>
      <h2 class="md-flex" style="padding-left: 24px !important;">View all users</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Apps" ng-click="openRole()">
        <md-tooltip md-direction="bottom">
          View user roles
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/white_roleadd24.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Apps" ng-click="openResp()">
        <md-tooltip md-direction="bottom">
          View responsibilities
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/white_respadd24.svg"></md-icon>
      </md-button>
    </div>
  </div>
</md-toolbar>


<div class="anim-slide-below-fade" data-anim-speed="500">
<showuser></showuser>

</div>


<div ng-cloak>
<md-fab-speed-dial ng-hide="demo.hidden" md-direction="up" md-scale md-open="demo.isOpen"
                       class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': demo.hover }"
                       ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false" ng-cloak style="position: fixed !important;">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-accent">
          <md-tooltip md-direction="left" md-visible="tooltipVisible">Add</md-tooltip>
          <md-icon md-svg-src="../../assets/img/white_add24.svg" aria-label="add"></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <div ng-repeat="item in items">
          <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini md-accent"
                     ng-click="openDialog($event, item)">
            <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible"
                        md-autohide="false">
              {{item.name}}
            </md-tooltip>
            <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
          </md-button>
        </div>
      </md-fab-actions>
</md-fab-speed-dial>
</div>
