<md-toolbar class="md-primary md-hue-2 ">
  <div flex flex-gt-sm="85" >
    <div class="md-toolbar-tools">
      <img ng-src="../../assets/img/classroom_icon.png" style="margin: auto 3px auto 0;" >
      <h2 class="md-flex" hide-xs>Classroom</h2>
      <h2 class="md-flex" style="border-left: 1px solid rgba(255,255,255,0.2) !important; margin-left: 24px !important;  margin-right: 24px !important; padding-left: 24px !important;">Classes</h2>
      <span layout-padding flex>

        <md-card layout="row" flex flex-gt-xs="70" style="background-color: #0288D1 !important; border-radius: 4px !important; box-shadow: none !important; margin: 0px !important;" >
        <form name="filter.form" layout-fill  style="background-color: transparent !important;">

          <div layout="row" >
              <md-icon md-svg-icon="../../assets/img/white_search24.svg"></md-icon>
              <input flex ng-model="searchText" type="search" placeholder="Search" style="border-radius: 4px !important; border-style: hidden !important; margin-left: 12px !important; background-color: transparent !important; color: #fff !important;" >
              <md-button class="md-icon-button" aria-label="close" ng-click="closeFilter()" ng-hide="searchText == null" style="padding: 0px !important; margin: 0 !important; min-height: 24px !important; width: 24px !important; height: 24px !important;">
              <md-tooltip md-direction="bottom">
                Close
              </md-tooltip>
              <md-icon md-svg-icon="../../assets/img/white_close24.svg"></md-icon>
              </md-button>
          </div>
        </form>
        </md-card>



      </span>
    </div>
  </div>
</md-toolbar>

<div class="anim-slide-below-fade" data-anim-speed="500">
  <md-content flex layout-padding layout-fill style="background-color: transparent !important; overflow: hidden !important;">
    <div layout="column"  flex>
      <div layout="row" layout-align="start center" layout-padding layout-wrap layout-fill style="padding-bottom: 32px; padding-top: 10px;" ng-cloak ng-repeat="profile in profiles track by $index">

        <md-card ng-click="redirect(classlist.classname)" class="card-1" ng-repeat="classlist in classlists" flex-gt-sm="50" flex-gt-md="30" layout-wrap layout-fill style="margin: 10px 10px 0 0;">
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" src="{{profile.profiles_profilephoto}}"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{classlist.classname}}</span>
            <span class="md-subhead">{{classlist.teachername}}</span>
          </md-card-header-text>
          <md-menu md-position-mode="target-right target" md-offset="0 48">
            <md-button class="md-icon-button" aria-label="Apps" ng-click="$mdOpenMenu($event)">
              <md-tooltip md-direction="bottom">
                more
              </md-tooltip>
              <md-icon md-svg-icon="../../assets/img/black_more24.svg"></md-icon>
            </md-button>
            <md-menu-content width="2" >
              <md-menu-item >
                <md-button ng-click="openDetails($event, lessonguide)">
                    <div layout="row" flex>
                      <p flex>View class</p>
                      <!-- <md-icon md-svg-icon="../../assets/img/black_launch24.svg"></md-icon> -->
                    </div>
                </md-button>
              </md-menu-item>
              <md-menu-item >
                <md-button ng-click="openMaterials(lessonguide)">
                    <div layout="row" flex>
                      <p flex>Edit</p>
                      <!-- <md-icon md-svg-icon="../../assets/img/black_launch24.svg"></md-icon> -->
                    </div>
                </md-button>
              </md-menu-item>
              <md-menu-item >
                <md-button ng-click="openDelete($event, lessonguide)">
                    <div layout="row" flex>
                      <p flex>Delete</p>
                      <!-- <md-icon md-svg-icon="../../assets/img/black_delete24.svg"></md-icon>-->
                    </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-card-header>
        <md-card-content>
          <p layout="column" layout-align="center start">
            <span>3 students</span>
            <span ng-if="classlist.section">Section: {{classlist.section}}</span>
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-card-icon-actions layout-align="end center">
            <md-button class="md-icon-button" aria-label="Apps" ng-click="openClass(classlist)">
              <md-tooltip md-direction="top">
                Go to {{classlist.classname}}
              </md-tooltip>
              <md-icon md-svg-icon="../../assets/img/black_launch24.svg"></md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
        <!--<md-card-content>
          <p>
          </p>
        </md-card-content>-->
      </md-card>
      </div>
    </div>
  </md-content>

  <div ng-cloak ng-show="$root.userLoggedInRole == 'superadmin'">
  <md-fab-speed-dial ng-hide="demo.hidden" md-direction="up" md-scale md-open="demo.isOpen"
                         class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': demo.hover }"
                         ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false" ng-cloak style="position: fixed !important;">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-accent">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">Add</md-tooltip>
            <md-icon md-svg-src="../../assets/img/white_add24.svg" aria-label="add"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <div ng-repeat="item in items">
            <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini md-accent"
                       ng-click="openDialog($event, item)">
              <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible"
                          md-autohide="false">
                {{item.name}}
              </md-tooltip>
              <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
            </md-button>
          </div>
        </md-fab-actions>
  </md-fab-speed-dial>
  </div>
</div>
