<md-toolbar class="md-primary md-hue-2" layout="row" layout-align="center center">
  <div flex="100" flex-gt-sm="70" layout="column" layout-fill>
    <div class="md-toolbar-tools">
      <a href="/Admissions/ADMs/{{$root.userID}}" >
      <md-tooltip md-direction="bottom">
        Back
      </md-tooltip>
      <md-icon md-svg-icon="../../assets/img/white_backarrow24.svg"></md-icon>
    </a>
      <h2 class="md-flex" style="padding-left: 24px !important; color: #fff !imprtant;">Application form</h2>
      <span flex></span>
      <!-- <md-button class="md-icon-button" aria-label="Apps" ng-click="openRole()" ng-if="$root.userLoggedInRole == 'superadmin'">
        <md-tooltip md-direction="bottom">
          View user roles
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/white_roleadd24.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Apps" ng-click="openResp()" ng-if="$root.userLoggedInRole == 'superadmin'">
        <md-tooltip md-direction="bottom">
          View responsibilities
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/white_respadd24.svg"></md-icon>
      </md-button> -->
    </div>
  </div>
</md-toolbar>



<div class="anim-slide-below-fade" data-anim-speed="500">

<md-content flex layout-padding style="background-color:transparent !important;"  layout="row" layout-align="center center">
  <div layout="column" flex flex-gt-sm="60" layout-fill>
    <div layout="row" layout-align="center center" layout-wrap layout-fill style="padding-bottom: 32px; padding-top: 32px;" ng-repeat="applicant in applicants" ng-cloak>
      <!-- <md-whiteframe class="md-whiteframe-2dp" flex="100" flex-gt-sm="60" layout="row" layout-align="start start" layout-padding layout-wrap layout-fill style="padding-left:30px;">-->
      <div layout-wrap layout-fill class="cardapp2" style>
        <md-toolbar class="md-table-toolbar md-primary" layout="row" layout-align="space-between stretch" layout-padding layout-fill>
        <div layout="column" layout-align="center center" layout-wrap>
          <img ng-src="{{applicant.photo}}" class="avatar-6" alt="photo"/>
        </div>
        <div class="md-list-item-text" flex="70" layout="column" layout-align="start start" layout-fill>
          <span layout-fill class="md-headline">{{applicant.firstname}} {{applicant.middlename}} {{applicant.lastname}}</span>
            <p layout-fill >
              <span class="md-subhead">Application number: {{applicant.applicationNum }}</span>
            </p>
        </div>
        <div layout="row" layout-align="end start" flex="20" layout-fill hide-xs>
          <md-menu md-position-mode="target-right target" ng-if="$root.userLoggedInRole == 'superadmin' || $root.userLoggedInRole == 'admin'" >
          <md-button class="md-icon-button " aria-label="transfer" ng-click="$mdOpenMenu($event)">
            <md-tooltip md-direction="bottom">
              Associate to role
            </md-tooltip>
            <md-icon md-svg-icon="../../assets/img/white_roleresp24.svg"></md-icon>
          </md-button>
          <md-menu-content width="4" >
            <md-menu-item ng-repeat="role in roles" ng-hide="profiles_userroleID._id == role._id">
              <md-button ng-click="associateRole($event, profile.profiles_firstname, profile.profiles_lastname, profile.profiles_userID, role._id, role.role)">
                  <div layout="row" flex>
                    <p flex>{{ profiles.profiles_userroleID == role._id ? '' :  role.role}}</p>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
          <md-menu md-position-mode="target-right target" ng-if="$root.userLoggedInRole == 'superadmin'">
          <md-button class="md-icon-button " aria-label="transfer" ng-click="$mdOpenMenu($event)">
            <md-tooltip md-direction="bottom">
              Move user to another branch
            </md-tooltip>
            <md-icon md-svg-icon="../../assets/img/white_transferbranch24.svg"></md-icon>
          </md-button>
          <md-menu-content width="4" >
            <md-menu-item ng-repeat="branch in branchesList" ng-hide="profile.profiles_branchID == branch._id">
              <md-button ng-click="announceClick($event, branch, profile.profiles_firstname, profile.profiles_lastname, profile.profiles_userID, profile.profiles_type, profile.profiles_branchID)">
                  <div layout="row" flex>
                    <p flex>{{ profile.profiles_branchID == branch._id ? '' :  branch.branch_name}}</p>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
          <md-button class="md-icon-button " aria-label="reset" ng-click="null" >
            <md-tooltip md-direction="bottom">
              Delete application form
            </md-tooltip>
            <md-icon md-svg-icon="../../assets/img/white_delete24.svg"></md-icon>
          </md-button>
        </div>
        </md-toolbar>
      </div>
      <!-- </md-whiteframe>-->
    </div>

    <div flex layout="column" layout-style="center center" layout-fill style="overflow: hidden !important;" layout-padding ng-cloak>
      <applicationbasicinfo></applicationbasicinfo>
      <applicationschoolinfo></applicationschoolinfo>
      <applicationparentinfo></applicationparentinfo>
      <applicationdocuments></applicationdocuments>
    </div>



    </div>
</md-content>
</div>
