<md-card>
<md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Non-teaching staff">
          <schoolstaff></schoolstaff>
      </md-tab>
      <md-tab label="Teachers" >
          <schoolteachers></schoolteachers>
      </md-tab>
      <md-tab label="Students" >
          <schoolstudents></schoolstudents>
      </md-tab>
      <md-tab label="Parents" >
          <schoolparents></schoolparents>
      </md-tab>
      <md-tab label="Unsorted" ng-if="$root.userLoggedInRole == 'superadmin' || $root.userLoggedInRole == 'admin'">
          <unsorted></unsorted>
      </md-tab>
    </md-tabs>
</md-card>
