<md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
      <img ng-src="../../assets/img/admissions_icon.png" style="margin: auto 3px auto 0;" >
      <h2 class="md-flex" style="color: #fff !important;">Admissions</h2>
      <h2 class="md-flex" style="color: #fff !important; border-left: 1px solid rgba(255,255,255,0.2) !important; margin-left: 24px !important; padding-left: 24px !important;">New applications</h2>
      <span layout-padding flex>

        <md-card layout="row" flex flex-gt-xs="60" style="background-color: #FFAB40 !important; border-radius: 4px !important; box-shadow: none !important; margin: 0px !important;" >
        <form name="filter.form" layout-fill  style="background-color: transparent !important;">

          <div layout="row" >
              <md-icon md-svg-icon="../../assets/img/white_search24.svg"></md-icon>
              <input flex ng-model="searchText" type="search" placeholder="Search" style="border-radius: 4px !important; border-style: hidden !important; margin-left: 12px !important; background-color: transparent !important; color: #fff !important;" >
              <md-button class="md-icon-button" aria-label="close" ng-click="closeFilter()" ng-hide="searchText == null" style="padding: 0px !important; margin: 0 !important; min-height: 24px !important; width: 24px !important; height: 24px !important;">
              <md-tooltip md-direction="bottom">
                Close
              </md-tooltip>
              <md-icon md-svg-icon="../../assets/img/white_close24.svg"></md-icon>
              </md-button>
          </div>
        </form>
        </md-card>



      </span>
      <md-button class="md-icon-button" aria-label="Apps" ng-click="$mdOpenMenu($event)">
        <md-tooltip md-direction="bottom">
          Help
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/white_help24.svg"></md-icon>
      </md-button>
    </div>
</md-toolbar>



  <md-content layout="row" layout-align="center center" layout-padding style="background-color:transparent !important;" layout-fill>
    <div layout="column" flex="100" flex-gt-sm="70" layout-align="start start" layout-padding layout-wrap layout-fill style="padding-bottom: 32px; padding-top: 10px;"  ng-cloak>


      <div flex="100" flex-gt-sm="60" layout="column"  layout-fill style="overflow: hidden !important;">


      <!--<div flex="100" flex-gt-sm="60" layout="column"  layout-fill>
        <applicants></applicants>
      </div>-->



<div layout="row" layout-align = "center center" layout-fill ng-show="doneSearching">
  <md-progress-circular md-mode="indeterminate" ng-show="doneSearching" ></md-progress-circular>
</div>



<md-expansion-panel-group md-component-id="applicant.createdAt" ng-init="newHeader = true">
  <div ng-repeat="applicant in applicants track by $index" layout="column" layout-align="center center">
  <div  ng-if="((applicant.createdAt | date: mediumDate) == formattedDay) && newHeader" style="width:90% !important; max-width: 90% !important;">
    <span  ng-init="applicantdata = (applicant.createdAt | date: mediumDate)" >
      <b style="color: #555;" ng-cloak class="showUp">{{ ($index == 0) ?  'Today' : ''}}</b>
    </span>
  </div>
  <div layout="row" layout-align="space-between center" layout-fill ng-if="((applicant.createdAt | date: mediumDate) != formattedDay) && newHeader" style="width:90% !important; max-width: 90% !important;">
    <span ng-init="applicantdata = (applicant.createdAt | date: mediumDate)" >
      <b style="color: #555;" ng-cloak  class="showUp">{{ ($index == 0) ?  applicantdata : (applicantdata == (applicants[$index-1].createdAt | date: mediumDate) ? '' : (applicants[$index].createdAt | date: mediumDate) )}}</b>
    </span>
  </div>
<md-expansion-panel md-component-id="{{applicant._id}}"  layout-fill class="cardapp" ng-cloak>
    <md-expansion-panel-collapsed layout-fill ng-cloak >
      <span layout="row" layout-fill >

      <div class="md-title" layout="row" layout-align="start center" layout-wrap hide-xs><img ng-src="{{applicant.photo}}" class="avatar-2" alt="{{applicant.firstname}}" /><span layout-padding hide-xs>App# {{applicant.applicationNum}}</span></div>
      <div class="md-summary" layout="row" layout-align="start center" layout-wrap>
        <img ng-src="{{applicant.photo}}" class="avatar-2" alt="{{applicant.firstname}}" show-xs hide-gt-xs/>
        <span layout-padding flex>{{applicant.firstname}} {{applicant.middlename}} {{applicant.lastname}} </span>
        <span>Admission progress: {{applicant.progress}} %</span>
      </div>
      </span>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
    <md-progress-linear md-mode="determinate" value="{{applicant.progress}}" ng-show="shownow"></md-progress-linear>
    <md-expansion-panel-expanded ng-cloak>
      <md-expansion-panel-header ng-click="$panel.collapse()">
        <span layout="row" layout-fill layout-align="start center" >

        <div class="md-summary" layout="row" layout-align="start center" layout-wrap><img ng-src="{{applicant.photo}}" class="avatar-2" alt="{{applicant.firstname}}" /><span layout-padding >App# {{applicant.applicationNum}} : <span layout-padding>{{applicant.firstname}} {{applicant.middlename}} {{applicant.lastname}}</span></span></div>
      </span>
      <span layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="edit" ng-click="openApplication(applicant)">
          <md-tooltip md-direction="bottom">
            View application form
          </md-tooltip>
          <md-icon md-svg-icon="../../assets/img/black_launch24.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="feedback" ng-click="openDialog($event, selected)" >
          <md-tooltip md-direction="bottom">
            Add feedback
          </md-tooltip>
          <md-icon md-svg-icon="../../assets/img/black_comment24.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="delete" ng-click="removeUser($event, applicant)" >
          <md-tooltip md-direction="bottom">
            Delete
          </md-tooltip>
          <md-icon md-svg-icon="../../assets/img/black_delete24.svg"></md-icon>
        </md-button>
      </span>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
      <md-expansion-panel-content>
        <span layout="row" layout-align="end center" layout-fill layout-wrap >
          <md-subheader class="md-no-sticky">Application date: {{applicant.createdAt | date: mediumDate}}</md-subheader>
        </span>
      <span layout="row" layout-align="start start" layout-fill layout-wrap >
        <span flex="20">
          <md-progress-circular md-mode="determinate" value="{{applicant.progress}}"></md-progress-circular>
          <p>Progress: {{applicant.progress}} %</p>
        </span>
        <span flex="80">
          <span flex="80">
              <md-list-item ng-click="null" ng-repeat="list in progressList">
                <span ng-if="applicant.progress >= list.value" layout="row" layout-fill>
                <md-icon md-svg-icon="{{list.icon}}"></md-icon>
                <p flex>  {{list.name}}</p>
                <md-switch aria-label="yes" class="md-accent" ng-model="list.status" ng-change="markPaid(list)" ng-disabled="list.status"></md-switch>
                </span>
                <span ng-if="applicant.progress < list.value" layout="row" layout-fill>
                <md-icon md-svg-icon="{{list.iconNo}}"></md-icon>
                <p flex>  {{list.name}}</p>
                <md-switch aria-label="no" class="md-accent" ng-model="list.statusNo" ng-change="markPaid(applicant._id, list.name, applicant)"></md-switch>
                </span>
              </md-list-item>
          </span>
        </span>
      </span>
      </md-expansion-panel-content>
      <md-expansion-panel-footer ng-cloak>
        <div class="md-default md-toolbar-tools" >
          <span flex>
            <h6 style="color: #555 !important;">Encoded by: {{applicant.encoderName}}</h6></span>
          <md-button class="md-icon-button" aria-label="forward" ng-click="openDialog($event, selected)" >
            <md-tooltip md-direction="bottom">
              Change application status
            </md-tooltip>
            <md-icon md-svg-icon="../../assets/img/black_forward24.svg"></md-icon>
          </md-button>
        </div>
      </md-expansion-panel-footer>
    </md-expansion-panel-expanded>


</md-expansion-panel>
</div>
</md-expansion-panel-group>


</div>
</div>
</md-content>
