<md-card>
<md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="New applications">
          <newapplications></newapplications>          
      </md-tab>
      <md-tab label="Pending requirements" >
          <pendingapplications></pendingapplications>
      </md-tab>
      <md-tab label="Pending payment" >
          <pendingpayment></pendingpayment>
      </md-tab>
      <md-tab label="For class assignment" >
          <classapplications></classapplications>
      </md-tab>
    </md-tabs>
</md-card>
