<md-dialog style="opacity: 1 !important;" aria-label="Create a new user" layout="column" layout-align="start center" flex="100">
  <form name="createuserForm">
    <md-dialog-content layout="column" layout-align="start start" layout-wrap layout-fill layout-padding flex>
    <div layout="row" flex>
      <h2 style="font-weight:normal" ng-hide="createdNow">Add multiple fees</h2>
      <h2 style="font-weight:normal" ng-if="done">Creating new fees categories</h2>
      <h2 style="font-weight:normal" ng-if="createdNows"><md-icon md-svg-icon="../../assets/img/indigo_check24.svg" style="margin: auto 3px auto 0;" ></md-icon> Created new fees categories</h2>
      <span flex></span>
    </div>
    <md-progress-linear md-mode="indeterminate" flex ng-show="done"></md-progress-linear>

    <!-- hide here -->
    <span layout="row" flex ng-hide="createdNow" >
        <md-button class="md-fab md-default" ngf-select="uploadFiles($file, $invalidFiles)" aria-label="transfer" ngf-max-height="1000">
          <md-tooltip md-direction="bottom">
            Upload
          </md-tooltip>
          <md-icon md-svg-icon="../../assets/img/white_upload24.svg"></md-icon>
        </md-button>
        <span ng-hide="createdNow">
        Upload CSV template
        </span>
    </span>
    <!-- end here -->
    <md-toolbar ng-show="existing" class="md-primary" layout="row" layout-fill layout-padding layout-margin>
    <p class="md-body-1">fee already registered</p>
    </md-toolbar>
    <span layout="column" layout-align="start start" flex ng-if="createdNows">
      <span layout="row">
      <p>
        File successfully parsed
      </p>
      </span>
      <span layout="row">
      <p>
        Sign in to Squala for APEC Schools services at
        https://www.squalaforapecschools.com
      </p>
      </span>
    </span>
    <span layout="row" style="background-color: #fafafa;" flex="100" ng-if="createdNows" layout-fill>
      <img ng-src="../../assets/img/headmaster_icon.png" style="margin: auto 3px auto 0;" >
      Need to add fees anytime, anywhere?
      Use Squala mobile app.
    </span>
    </md-dialog-content>
    <md-dialog-actions >
      <span layout="row" layout-align="space-between start" layout-fill>
      <!-- hide these -->
    <md-button ng-hide="createdNow" ng-click="closeDialog()">
      Cancel
    </md-button>
      <!-- end hide -->
      <md-button ng-if="createdNows" ng-click="createAnother()">
        CREATE ANOTHER USER
      </md-button>
        <md-button ng-if="createdNows" ng-click="closeDialog()" class="md-primary">
          DONE
        </md-button>
      </span>
    </md-dialog-actions>
  </form>
</md-dialog>
