<!-- <md-expansion-panel-group md-component-id="applicant.createdAt" ng-init="newHeader = true" layout-padding >-->
  <div ng-repeat="applicant in applicants track by $index" layout="column" layout-align="center center" >
<md-expansion-panel md-component-id="{{applicant._id}}"  layout-fill class="cardapp" ng-cloak >
    <md-expansion-panel-collapsed layout-fill ng-cloak>
      <span layout="row" layout-fill layout-align="start center">

      <div class="md-title" layout="row" layout-align="start center" layout-wrap hide-xs><span layout-padding hide-xs><md-icon md-svg-icon="../../assets/img/black_archive24.svg"></md-icon>Requirements</span></div>
    </span>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
    <md-progress-linear md-mode="indeterminate" flex ng-show="doneagain" ></md-progress-linear>
    <md-expansion-panel-expanded ng-cloak>
      <md-expansion-panel-header ng-click="$panel.collapse()">
        <span layout="row" layout-fill layout-align="start center" >

        <div class="md-summary" layout="row" layout-align="start center" layout-wrap><span layout-padding >Requirements</span></div>
      </span>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
      <md-expansion-panel-content>
        <md-dialog-content layout="column" layout-align="start start" layout-wrap layout-fill layout-padding flex>

          <span layout="column" flex layout-fill  >

              <span layout="column" layout-align="center center" layout-fill>
                 <span layout="row" layout-align="space-between center" layout-fill>
                   <md-input-container  class="md-block" layout-fill style="margin: 10px 0 !important;">
                     <label> select requirement category</label>
                   <md-select ng-model="applicant.gender"  class="md-no-underline">
                     <md-option ng-repeat="requirementdoc in requirementdocs" value="{{requirementdoc._id}}">{{requirementdoc.requirementName}}</md-option>
                   </md-select>
                 </md-input-container>
                     <md-button class="md-fab md-default" ngf-select="uploadFiles($file, $invalidFiles)" aria-label="transfer" ngf-max-height="1000">
                       <md-tooltip md-direction="bottom">
                         Upload
                       </md-tooltip>
                       <md-icon md-svg-icon="../../assets/img/white_upload24.svg"></md-icon>
                     </md-button>
               </span>
             </span>





                 <md-subheader class="md-no-sticky">Applicant documents</md-subheader>

                 <span  ng-repeat="applicant in applicants track by $index" layout-padding layout="row" layout-align="space-between center" layout-fill layout-wrap>
                   <md-list-item class="md-3-line card-1" ng-repeat="document in applicant.documents track by $index" layout-fill flex flex-gt-sm="45" style="margin: 4px 4px 4px 4px !important;">
                     <md-icon md-svg-icon="../../assets/img/black_file24.svg"></md-icon>
                     <div class="md-list-item-text" layout="column">
                       <h3>{{ document.requirement}}</h3>
                       <p>{{ document.filename}}</p>
                     </div>
                     <a target="_self" href="{{document.downloadUrl}}" download="{{applicant.applicantID}}">
                       <md-button class="md-icon-button " aria-label="transfer">
                         <md-tooltip md-direction="bottom">
                           Download document
                         </md-tooltip>
                     <md-icon md-svg-icon="../../assets/img/black_download24.svg"></md-icon>
                   </md-button>
                     </a>
                   </md-list-item>
              </span>


                <div layout="row" layout-align = "center center" ng-show="doneSearching" layout-fill >
                  <md-progress-circular md-mode="indeterminate"  ></md-progress-circular>
                </div>

          </span>

        </md-dialog-content>
      </md-expansion-panel-content>
      <md-expansion-panel-footer ng-cloak>
        <div class="md-default md-toolbar-tools" >
          <span flex>
            <h6 style="color: #555 !important;">Encoded by: {{applicant.encoderName}}</h6></span>
          <md-button class="md-icon-button" aria-label="forward" ng-click="openDialog($event, selected)" >
            <md-tooltip md-direction="bottom">
              Change application status
            </md-tooltip>
            <md-icon md-svg-icon="../../assets/img/black_forward24.svg"></md-icon>
          </md-button>
        </div>
      </md-expansion-panel-footer>
    </md-expansion-panel-expanded>


</md-expansion-panel>
</div>
<!--</md-expansion-panel-group> -->
