<md-toolbar class="md-primary md-hue-2" md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h2 class="md-flex" style="color: #fff !important;">My Profile </h2>
      <span flex></span>

    </div>
</md-toolbar>

<md-content layout="row" layout-align="center center" layout-wrap layout-fill layout-padding style="background-color:transparent !important;">
        <!-- <md-whiteframe class="md-whiteframe-2dp" flex="100" flex-gt-sm="60" layout="row" layout-align="start start" layout-padding layout-wrap layout-fill style="padding-left:30px;">-->
        <div layout-padding flex flex-gt-xs="80" layout="row" layout-fill layout-align="start start" ng-repeat="profile in profiles" style="background-color:transparent !important; padding-bottom: 32px; padding-top: 10px;" ng-cloak>

          <div flex="30" layout-fill >
            <div class="card3" layout-fill layout="column" layout-align="center center">
              <div layout-fill layout="row" layout-align="end center" >
                <span flex></span>
                <md-button class="md-icon-button " aria-label="reset" ng-click="null">
                  <md-tooltip md-direction="bottom">
                    Change Password
                  </md-tooltip>
                  <md-icon md-svg-icon="../../assets/img/white_resetpass24.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button " aria-label="reset" ng-click="null">
                  <md-tooltip md-direction="bottom">
                    More options
                  </md-tooltip>
                  <md-icon md-svg-icon="../../assets/img/black_more24.svg"></md-icon>
                </md-button>
              </div>

                <img class="avatar-5"  ng-src="{{profile.profiles_profilephoto}}">
                <p class="app-name md-title">{{profile.profiles_firstname}} {{profile.profiles_lastname}}</p>


            </div>






          </div>


      <div flex="70" layout-fill >
        <section class="card3" layout-fill>
        <profileaccount></profileaccount>
        </section>

        <section class="card3" layout-fill>
        <profileapps></profileapps>
        </section>

        <section class="card3" layout-fill>
        <profilerole></profilerole>
        </section>
      </div>



          </div>


</md-content>
