<md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
      <img ng-src="../../assets/img/admissions_icon.png" style="margin: auto 10px auto 0;" >
      <h2 class="md-flex" style="color: #fff !important;" hide-xs>Admissions</h2>
      <h2 class="md-flex" style="color: #fff !important; border-left: 1px solid rgba(255,255,255,0.2) !important; margin-left: 24px !important; padding-left: 24px !important;">Control panel</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Apps" ng-click="$mdOpenMenu($event)">
        <md-tooltip md-direction="bottom">
          Help
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/white_help24.svg"></md-icon>
      </md-button>
    </div>
</md-toolbar>

<div class="anim-slide-below-fade" data-anim-speed="500">
  <md-content flex layout-padding style="background-color:transparent !important;"  layout="row" layout-align="center center">
    <div layout="row" flex flex-gt-sm="80" layout-fill>

  <md-card class="cardapp md-primary card-1" flex-gt-sm="50" flex-gt-md="30" layout-wrap layout-fill style="margin: 10px 10px 0 0; padding: 0px 0px 0px 0px !important;">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Admissions Control Panel</span>
        <span class="md-subhead">Modify settings for enrollment procedures and behavior.</span>
      </md-card-title-text>
      <md-card-title-media >
        <div class="md-media-sm card-media" layout="row" layout-align="end center">
        <img ng-src="{{userapp.appLoc}}" style="margin: auto 3px auto 0;" >
      </div>
      </md-card-title-media>
    </md-card-title>
  </md-card>

  <md-card class="cardapp md-primary card-1"  flex-gt-sm="50" flex-gt-md="30" layout-wrap layout-fill style="margin: 10px 10px 15px 0;">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{totalrequirementdocs}} Enrollment requirements</span>
        <span class="md-subhead">Add required enrollment documents here.</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions >
      <form name="enrollrequirements" layout="row" layout-align="end start" layout-fill>
      <span layout="column" layout-fill>
      <md-input-container flex="100"  md-float class="md-block" style="margin: 10px 0 !important;">
          <input ng-model="requirementName" aria-label="text" type="text" placeholder="type of document" ng-required>
      </md-input-container>
      </span>
      <md-button class="md-primary md-hover" md-no-ink aria-label="Apps" ng-click="createRequirement()">
        Add
      </md-button>
    </form>
    </md-card-actions>
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-fill ng-repeat="requirementdoc in requirementdocs track by $index" layout-padding>
      <span ng-hide="editMode[$index]">{{requirementdoc.requirementName}}</span>
      <form ng-show="editMode[$index]" name="enrollmentedit" layout="row" layout-align="end start" layout-fill>
      <span layout="column" layout-fill>
      <md-input-container flex="100"  md-float class="md-block" style="margin: 10px 0 !important;">
          <input ng-model="requirementdoc.requirementName" aria-label="text" type="text" placeholder="type of document" ng-required>
      </md-input-container>
      </span>
      <md-button class="md-primary md-hover" md-no-ink aria-label="Apps" ng-click="editRequirement(requirementdoc, $index, editMode[$index])">
        Submit
      </md-button>
    </form>
    <span flex ng-hide="editMode[$index]"></span>
      <md-button class="md-icon-button" aria-label="Apps" ng-hide="editMode[$index]" ng-click="editMode[$index] = !editMode[$index]">
        <md-tooltip md-direction="top">
          Edit
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/black_edit24.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Apps" ng-hide="editMode[$index]">
        <md-tooltip md-direction="top">
          Delete
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/black_delete24.svg"></md-icon>
      </md-button>
    </md-card-actions>
  </md-card>


</div>
</md-content>
</div>
