<md-dialog aria-label="Delete user" >
  <form name="createuserForm" layout="column" layout-align="start center" flex layout-fill>
    <md-dialog-content  layout="column" layout-align="start start" layout-wrap layout-fill layout-padding flex ng-repeat="role in roles">
    <div layout="row" flex layout-fill ng-show="deletedNows">
      <h2 style="font-weight:normal" ng-hide="deletedNow">Edit role: {{role.role}}</h2>
      <h2 style="font-weight:normal" ng-show="done">Updating role</h2>
      <h2 style="font-weight:normal" ng-show="deletedNows"><md-icon md-svg-icon="../../assets/img/indigo_check24.svg" style="margin: auto 3px auto 0;" ></md-icon> Role updated</h2>
      <span flex></span>
    </div>
    <md-progress-linear md-mode="indeterminate" flex ng-show="done"></md-progress-linear>

    <span layout="column" layout-fill ng-hide="deletedNow">
        <md-input-container flex="100"  md-no-float class="md-block" style="margin: 10px 0 !important;">
            <input ng-model="register.rolename" aria-label="rolename" type="text" placeholder="role" ng-required>
        </md-input-container>
    </span>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center" layout-fill>
      <!-- hide these -->
    <md-button ng-hide="deletedNow" ng-click="cancelNow()">
      CANCEL
    </md-button>
    <span flex ng-hide="deletedNow"></span>
      <md-button type="submit" ng-click="editroleNow()" ng-hide="deletedNow" class="md-primary">
        UPDATE ROLE
      </md-button>
      <!-- end hide -->
      <span flex ng-show="deletedNows"></span>
      <md-button ng-show="deletedNows" ng-click="cancelNow()" class="md-primary">
        DONE
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
