<md-dialog style="opacity: 1 !important;" aria-label="Edit Account" >
  <form name="res" layout="column" layout-align="start center" layout-padding layout-wrap layout-fill flex >
    <md-dialog-content >
    <div layout="row" flex >
      <h2 style="font-weight:normal" ng-hide="updatedNow">Update Course: {{results.coursename}}</h2>
      <h2 style="font-weight:normal" ng-if="done">Updating course</h2>
      <h2 style="font-weight:normal" ng-if="updatedNows"><md-icon md-svg-icon="../../assets/img/indigo_check24.svg" style="margin: auto 3px auto 0;" ></md-icon> Updated course: {{results.coursename}}</h2>
    </div>

    <md-progress-linear md-mode="indeterminate" flex ng-show="done"></md-progress-linear>

    <!-- hide here -->
    <span layout="column"  flex ng-hide="updatedNow" layout-fill>
      <md-input-container flex="100"  md-no-float class="md-block" style="margin: 10px 0 !important;">
          <input ng-model="results.coursename" aria-label="coursename" type="text" placeholder="course name" ng-required>
      </md-input-container>
    </span>

    <span layout="column"  flex ng-hide="updatedNow" layout-fill>
      <md-input-container flex="100"  md-no-float class="md-block" style="margin: 10px 0 !important;">
          <input ng-model="results.coursedescription" aria-label="coursedescription" type="text" placeholder="course description" ng-required>
      </md-input-container>
    </span>

    <!-- end here -->
    </md-dialog-content>
    <md-dialog-actions  layout="row" layout-align="space-between center" layout-fill>
    <md-button ng-hide="updatedNow"  ng-click="cancelNow()">
      Cancel
    </md-button>
      <md-button type="submit" ng-click="updateInfo(results)" ng-hide="updatedNow" class="md-primary">
        Update
      </md-button>
      <!-- end hide -->
        <md-button ng-if="updatedNows" ng-click="cancelNow()" class="md-primary">
          DONE
        </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
