<div flex-md layout="column" layout-align="center center" layout-fill style="height:600px;">
    <h1 style="font-weight: normal;" layout="row" >Oops, the page you were looking for doesn't exist.</h1>
    <div layout="row">
      <img ng-src="../../assets/img/black_error48.png" alt="photo"/>
    </div>
    <div layout="row" >
        <img alt="Squala Apps" style="width:230px; height:23px" class="img-responsive text-center" src="../../assets/img/wlogostrip_230x17_1x.png" />
    </div>
    <div layout="row" >
        <small class="text-muted">Squala School Management Platform  &copy; 2016</small>
    </div>
</div>
