<md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show || selected2.length" flex>
<div class="md-toolbar-tools">
  <h2> Search </h2>
  <div flex="" class="flex"></div>
  <md-button class="md-icon-button" aria-label="Search" ng-click="filterShow()">
    <md-icon md-svg-icon="../../assets/img/black_search24.svg"></md-icon>
  </md-button>
</div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default"  flex="100" ng-show="filter.show">
<div class="md-toolbar-tools">
  <form name="filter.form" flex>
    <md-input-container md-no-float class="md-block">
    <md-icon md-svg-icon="../../assets/img/black_search24.svg"></md-icon>
    <input type="text" ng-model="searchText" placeholder="search">
    </md-input-container>
  </form>
  <md-button class="md-icon-button" aria-label="close" ng-click="closeFilter()">
  <md-tooltip md-direction="bottom">
    Close
  </md-tooltip>
  <md-icon md-svg-icon="../../assets/img/black_close24.svg"></md-icon>
  </md-button>
</div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-primary md-hue-1" flex="100" ng-show="selected2.length">
<div class="md-toolbar-tools" >
  <div ng-model="selected" flex>{{selected2[0].firstname}} {{selected2[0].lastname}} selected</div>
  <md-button class="md-icon-button" aria-label="edit" ng-click="openProfile2(selected2)">
    <md-tooltip md-direction="bottom">
      View Account
    </md-tooltip>
    <md-icon md-svg-icon="../../assets/img/black_launch24.svg"></md-icon>
  </md-button>
  <md-menu md-position-mode="target-right target" >
  <md-button class="md-icon-button md-primary" aria-label="transfer" ng-click="$mdOpenMenu($event)">
    <md-tooltip md-direction="top">
      Change applicant status
    </md-tooltip>
    <md-icon md-svg-icon="../../assets/img/black_addgroup24.svg"></md-icon>
  </md-button>
  <md-menu-content width="4" >
    <md-menu-item ng-repeat="item in items">
      <md-button ng-click="announceClick($event, item, selected6[0].profiles_userID, selected6[0].profiles_firstname, selected6[0].profiles_lastname)">
          <div layout="row" flex>
            <p flex>{{ item.type}}</p>
          </div>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
</div>
</md-toolbar>
<md-divider></md-divider>
<md-table-container style="background-color: transparent !important;">
  <table style="background-color: transparent !important;" md-table md-row-select ng-model="selected2" md-progress="promise" flex>
    <thead md-head md-order="firstname" md-on-reorder="applicants" class="md-head">
      <tr md-row>
        <th md-column ><span></span></th>
        <th md-column md-order-by="applicant.firstname" ng-click="changeSort()" ><span>Complete Name</span></th>
        <th md-column ><span>Email</span></th>
        <th md-column ><span>Application No.</span></th>
        <th md-column ><span>Encoded by</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="applicant" md-select-id="applicant._id" md-auto-select ng-repeat="applicant in applicants">
        <td md-cell><img ng-src="{{applicant.photo}}" class="profile-pic2" alt="{{applicant.firstname}}" /></td>
        <td md-cell>{{applicant.firstname}} {{applicant.middlename}} {{applicant.lastname}}</td>
        <td md-cell>{{applicant.email}}</td>
        <td md-cell><b> {{applicant.applicationNum}}</b> </td>
        <td md-cell>{{applicant.encoderName}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-pagination  md-limit="perPage" md-page="page" md-total="{{totalApplicants}}" md-on-paginate="applicants" md-page-select></md-table-pagination>
