<md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
      <img ng-src="../../assets/img/admissions_icon.png" style="margin: auto 3px auto 0;" >
      <h2 class="md-flex" style="color: #fff !important;">Admissions</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Apps" ng-click="$mdOpenMenu($event)">
        <md-tooltip md-direction="bottom">
          Help
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/white_help24.svg"></md-icon>
      </md-button>
    </div>
</md-toolbar>


<div class="anim-slide-below-fade" data-anim-speed="500">
<md-content flex layout-padding style="background-color:transparent !important;">
  <div class="post">
  		<div class="content">
  				<div class="hover-content" >
            <span>
  						<p class="bold-caps">Offered By</p>
  						<br>
  						<p class="thin"></p>
  					</span>
  					<span>
  				<p class="bold-caps">Size</p>
  				<br>
  				<p class="thin">10 mb</p>
  			   </span>
  				</div>
  				<div class="rating">
  						<i class="fa fa-star"></i>
  						<i class="fa fa-star"></i>
  						<i class="fa fa-star"></i>
  						<i class="fa fa-star"></i>
  						<i class="fa fa-star-half-o"></i>
  				</div>
  				<div class="post-content">
  				<img class="avatar" src="../../assets/img/profiles/user.png">
  				<p class="app-name"> Now</p>
  				<md-button class="md-accent md-raised">Install</md-button>
  				</div>
  		</div>
  		<img src="http://3.bp.blogspot.com/-dXxdKFkVrdw/VKLa3bMmv2I/AAAAAAAAVjI/Lp0vf22tynE/s1600/sandiegodusk.png">
  </div>

</md-content>
</div>
