<md-dialog style="opacity: 1 !important;" aria-label="Create a new user" layout="column" layout-align="start center" flex="100">
  <form name="createuserForm">
    <md-dialog-content layout="column" layout-align="start start" layout-wrap layout-fill layout-padding flex>
    <div layout="row" flex>
      <h2 style="font-weight:normal" ng-hide="createdNow">Create class </h2>
      <h2 style="font-weight:normal" ng-if="done">Creating class</h2>
      <h2 style="font-weight:normal" ng-if="createdNows"><md-icon md-svg-icon="../../assets/img/indigo_check24.svg" style="margin: auto 3px auto 0;" ></md-icon> Created class</h2>
      <span flex></span>
        <md-button class="md-icon-button" aria-label="Apps" ng-click="closeDialog()" style="position:absolute; top:0; right:0; !important" ng-hide="done">
        <md-tooltip md-direction="bottom">
          Close
        </md-tooltip>
        <md-icon md-svg-icon="../../assets/img/black_close24.svg"></md-icon>
        </md-button>
    </div>
    <md-progress-linear md-mode="indeterminate" flex ng-show="done"></md-progress-linear>

    <!-- hide here -->
    <span layout="column" ng-hide="createdNow" layout-fill>
    <md-input-container flex="100"  md-no-float class="md-block" style="margin: 10px 0 !important;">
        <input ng-model="create.register.classname" aria-label="classname" type="text" placeholder="class name (required)" ng-required="true">
    </md-input-container>
    <md-input-container flex="100"  md-no-float class="md-block" style="margin: 10px 0 !important;">
        <input ng-model="create.register.section" aria-label="section" type="text" placeholder="section" ng-required="true">
    </md-input-container>
    </span>
    <!-- address -->
    <span layout="column" ng-hide="createdNow" layout-fill>
    <md-input-container flex="100"  md-no-float class="md-block" style="margin: 10px 0 !important;">
      <md-icon md-svg-icon="../../assets/img/black_linkcourse24.svg"></md-icon>
      <md-select placeholder="Link course" aria-label="address" ng-model="create.register.courselink" ng-required="true">
        <md-option ng-value="course" ng-repeat="course in courses">{{course.coursename}}</md-option>
      </md-select>
    </md-input-container>
    </span>
    <span layout="row" ng-hide="createdNow">
    <p class="md-caption">Lesson guides, syllabus and resource materials of course selected will be linked to this class.</p>
    </span>
    <!-- end here -->
    <md-toolbar ng-show="existing" class="md-primary" layout="row" layout-fill layout-padding layout-margin>
    <p class="md-body-1">class already registered</p>
    </md-toolbar>
    <span layout="column" layout-align="start start" flex ng-if="createdNows">
      <span layout="row">
      <p>
        A new class named <b>{{registered.classname}} </b> has been created
      </p>
      </span>
      <span layout="row" layout-align="start start" layout-fill>
      <p>
        Learning guide and resources synchronized.
      </p>
    </span>
    </span>
    </md-dialog-content>
    <md-dialog-actions >
      <span layout="row" layout-align="space-between start" layout-fill>
      <!-- hide these -->
    <md-button ng-hide="createdNow" ng-click="closeDialog()">
      CANCEL
    </md-button>
      <md-button type="submit" ng-click="createSchool(create.register)" ng-hide="createdNow" class="md-primary">
        CREATE
      </md-button>
      <!-- end hide -->
      <md-button ng-if="createdNows" ng-click="createAnother()">
        ADD ANOTHER CLASS
      </md-button>
        <md-button ng-if="createdNows" ng-click="closeDialog()" class="md-primary">
          DONE
        </md-button>
      </span>
    </md-dialog-actions>
  </form>
</md-dialog>
