<md-dialog style="opacity: 1 !important;" aria-label="Create a new user" layout="column" layout-align="start center" flex="100" layout-wrap>
  <form name="createuserForm">
    <md-dialog-content layout="column" layout-align="start start" layout-wrap layout-fill layout-padding flex>
    <div layout="row" flex>
      <h2 style="font-weight:normal" ng-hide="createdNow">Create a new student application</h2>
      <h2 style="font-weight:normal" ng-if="done">Creating new application</h2>
      <h2 style="font-weight:normal" ng-if="createdNows"><md-icon md-svg-icon="../../assets/img/yellow_check24.svg" style="margin: auto 3px auto 0;" ></md-icon> Created new applicant</h2>
      <span flex></span>
    </div>
    <md-progress-linear md-mode="indeterminate" flex ng-show="done"></md-progress-linear>

    <!-- hide here -->
    <span layout="row" layout-align="space-between center" flex ng-hide="createdNow" layout-wrap >
    <md-input-container md-no-float class="md-block" style="margin: 10px 0 !important;">
      <md-icon md-svg-icon="../../assets/img/black_person24.svg"></md-icon>
        <input ng-model="create.register.firstname" aria-label="email" type="text" placeholder="First Name" required>
    </md-input-container>
    <md-input-container md-no-float class="md-block" style="margin: 10px 0 !important;">
        <input ng-model="create.register.middlename" aria-label="lastname" type="text" placeholder="Middle Name" required>
    </md-input-container>
    <md-input-container  md-no-float class="md-block" style="margin: 10px 0 !important;">
        <input ng-model="create.register.lastname" aria-label="firstname" type="text" placeholder="Last Name" required>
    </md-input-container>
    </span>
    <span layout="row" flex ng-hide="createdNow" layout-fill layout-wrap>
      <md-input-container md-no-float class="md-block" style="margin: 10px 0 !important;">
      <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-icon="../../assets/img/black_phone24.svg"></md-icon>
        <input ng-model="create.register.phone" type="text" placeholder="Contact Number" required >
      </md-input-container>
      <md-input-container md-no-float class="md-block" style="margin: 10px 0 !important;">
      <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-icon="../../assets/img/black_guardian24.svg"></md-icon>
        <input ng-model="create.register.guardian" type="text" placeholder="Guardian name" required >
      </md-input-container>
    </span>
    <span layout="row" flex ng-hide="createdNow" layout-fill layout-wrap >
      <md-input-container  class="md-block" style="margin: 10px 0 !important;">
        <label>Grade level</label>
        <md-icon md-svg-icon="../../assets/img/black_gradelevel24.svg"></md-icon>
        <md-select aria-label="user" ng-model="create.register.gradelevel" md-on-close="clearSearchTerm()"  data-md-container-class="selectdemoSelectHeader" required>
          <md-option ng-value="gradelevel" ng-repeat="gradelevel in gradelevels | filter:feesName">{{gradelevel.gradelevel}}</md-option>
        </md-select>
        <p class="md-caption">Select grade level to enroll to </p>
      </md-input-container>
      <md-input-container  class="md-block" style="margin: 10px 0 !important;">
        <label>Branch</label>
        <md-icon md-svg-icon="../../assets/img/black_branch24.svg"></md-icon>
        <md-select aria-label="user" ng-model="create.register.branch" md-on-close="clearSearchTerm()"  data-md-container-class="selectdemoSelectHeader" required>
         <md-option ng-value="branch" ng-repeat="branch in branches | filter:branch_name">{{branch.branch_name}}</md-option>
       </md-select>
     <p class="md-caption">Applicant branch preference</p>
   </md-input-container>
    </span>
    <!-- <span layout="row" ng-hide="createdNow">
    Application number will be auto-generateds
  </span> -->
    <!-- end here -->
    <md-toolbar ng-show="existing" class="md-primary" layout="row" layout-fill layout-padding layout-margin>
    <p class="md-body-1">applicant already registered</p>
    </md-toolbar>
    <span layout="column" layout-align="start start" flex ng-if="createdNows">
      <span layout="row">
      <p>
        A new application for <b>{{registered.firstname}} {{registered.lastname}} </b> has been created
      </p>
      </span>
      <span layout="row">
      <p>
        Track progress of application by saving the generated code below
      </p>
      </span>      
    </span>
    <span layout="row" style="background-color: #fafafa;" flex="100" ng-if="createdNows" layout-fill>
      <img ng-src="../../assets/img/admissions_icon.png" style="margin: auto 3px auto 0;" >
    Application number: <b>{{registered.application}}</b>
    </span>
    </md-dialog-content>
    <md-dialog-actions >
      <span layout="row" layout-align="space-between start" layout-fill>
      <!-- hide these -->
    <md-button ng-hide="createdNow" ng-click="closeDialog()">
      CANCEL
    </md-button>
      <md-button type="submit" ng-click="createUser(create.register)" ng-hide="createdNow" class="md-primary">
        SUBMIT
      </md-button>
      <!-- end hide -->
      <md-button ng-if="createdNows" ng-click="closeDialog()" >
        DONE
      </md-button>
      <md-button ng-if="createdNows" ng-click="viewAppForm()" class="md-primary">
        GO TO APP FORM
      </md-button>
      </span>
    </md-dialog-actions>
  </form>
</md-dialog>
